<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}

<!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>ABOUT US</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">ABOUT US</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start About Page  -->
    <div class="about-box-main">
        <div class="container">
            <div class="row">
				<div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-fluid" src="{{product.image.url}}" alt="" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="noo-sh-title-top">{{product.name}}</h2>
                    <h4>Rs.{{product.price}}</h4>
                    <h4>{% if product.stock > 0 %}
                        Currently {{product.stock}} available
                        {% else %}
                        Not available
                        {% endif %}
                    </h4>
                    <p class="fw-bold">{{product.description}}</p>


                    {% if user.is_superuser %}
					<a class="btn hvr-hover text-success fw-bold" href="{% url 'shop:addstock' product.id %}">Add Stock</a>
                    {% else %}
                    {% if product.stock > 0 %}
                    <a class="btn hvr-hover text-success fw-bold" href="{% url 'cart:addtocart' product.id %}">Add To Cart</a>
                    {% else %}
                    <a class="btn hvr-hover text-danger fw-bold"  href="#">Out of stock</a>
                    {% endif %}
                    {% endif %}


                </div>
            </div>
        </div>
    </div>
{% endblock %}